.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#theme-button {
    display: none;
}

#user-button {
    display: none;
}

.left-nav {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.title-presentation {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

main {
    flex-direction: column;
    min-height: 100%;
    display: flex;
}

.editor-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.md-editor {
    width: 100%;
    min-height: 50%;
    border: 2px solid;
}

.current-slide {
    width: 100%;
    min-height: 50%;
    border: 2px solid;
}

.miniatures-section {
    display: flex;
    height: 150px;
    border: 2px solid;
}

@media screen and (min-width: 500px) {
    #menu-button {
        display: none;
    }

    #theme-button {
        display: initial;
    }

    .title-presentation {
        width: 80%;
    }

    main {
        height: 100%;
    }

    .editor-section {
        flex-direction: row;
    }

    .md-editor {
        width: 50%;
        border: 2px solid;
    }
    
    .current-slide {
        width: 50%;
        border: 2px solid;
    }

    nb-sidebar {
        display: none;
    }
}