<nb-layout>

    <nb-layout-header fixed>
        <div class="nav-container">
            <div class="left-nav">
                <button id="menu-button" nbButton ghost (click)="toggleSidebar()">
                    <nb-icon icon="menu-outline"></nb-icon>
                </button>
                <button nbButton shape="round" ghost (click)="openEditTitleDialog()">
                    <nb-icon icon="edit-outline"></nb-icon>
                </button>
                <h4 class="title-presentation">{{presentation?.title}}</h4>
            </div>
            <div class="right-nav">
                <button id="theme-button" nbButton shape="round" size="large" ghost (click)="changeTheme()">
                    <nb-icon [icon]="themeButtonIcon"></nb-icon>
                </button>
            </div>
        </div>
    </nb-layout-header>

    <nb-sidebar state="collapsed" fixed>
        <div class="sidebar-container">
            <button nbButton shape="round" size="large" ghost (click)="changeTheme()">
                <nb-icon [icon]="themeButtonIcon"></nb-icon>
            </button>
        </div>
    </nb-sidebar>

    <nb-layout-column>

        <main>
            <section class="editor-section">
                <div #mdEditor class="md-editor hidde-panel">
                    <app-md-editor (valueChange)="onMdEditorChangeValue($event)"></app-md-editor>
                </div>

                <div #divider class="editor-section-divider"></div>

                <div #currentSlide class="current-slide">
                    <div class="current-slide-container"></div>

                    <div class="zoom-buttons">
                        <button nbButton size="medium" outline (click)="zoomSlide('min')">
                            <nb-icon icon="minimize-outline"></nb-icon>
                        </button>
                        <button nbButton size="medium" outline (click)="zoomSlide('max')">
                            <nb-icon icon="maximize-outline"></nb-icon>
                        </button>
                    </div>
                </div>

                <button nbButton status="info" id="switch-view-button" (click)="switchView()">
                    <nb-icon icon="swap"></nb-icon>
                </button>
            </section>
            <section #miniatureSlides class="miniatures-section">
                <button id="new-slide-button" class="new-slide-button" (click)="newSlide()">
                    <nb-icon style="height: 3rem; width: 3rem; color: currentColor" icon="plus-outline"></nb-icon>
                    Nueva
                </button>
                <div #slideElement *ngFor="let slide of presentation?.slides; let i=index" class="miniature-slide-card" (click)="selectMiniatureSlide(slide, slideElement)">
                    <button [style.position]="'absolute'" class="delete-slide-button" (click)="deleteSlide($event, i)">
                        <nb-icon icon="trash-outline"></nb-icon>
                    </button>
                    <span class="miniature-slide-number">{{ i + 1 }}</span>
                    {{ slide.name | maxLength: 40 }}
                </div>
            </section>
        </main>
    </nb-layout-column>

</nb-layout>