.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#theme-button {
    display: none;
}

#user-button {
    display: none;
}

.left-nav {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.title-presentation {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.editor-section {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100% - 10rem);
    max-height: calc(100% - 10rem);
    position: relative;
}

.editor-section-divider {
    height: 8px;
    width: 100%;
    background-color: var(--color-basic-600);
    box-sizing: border-box;
    position: relative;
    display: none;
}

.editor-section-divider:hover {
    cursor: row-resize;
}

.editor-section-divider::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-basic-600);
    background-image: linear-gradient(to top, transparent 0 25%, white 25% 35%, transparent 35% 65%, white 65% 75%, transparent 75% 100%);
}

#switch-view-button {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    border-radius: 50%;
    z-index: 1;
}

.md-editor {
    width: 100%;
    border: none;
    animation: switchPanel 0.15s ease-in-out;
}

.current-slide {
    --zoom: 0.3;
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    animation: switchPanel 0.15s ease-in-out;
}

.current-slide-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll;
}

.zoom-buttons {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    display: flex;
    gap: 0.5rem
}

.hidde-panel {
    display: none;
}

.miniatures-section {
    display: flex;
    height: 10rem;
    max-height: 10rem;
    border-top: 3px solid var(--color-basic-600);
    overflow-x: scroll;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    gap: 2rem;
    position: relative;
}

.miniature-slide-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    height: 100%;
    max-width: 10rem;
    border: 2px solid var(--color-basic-600);
    border-radius: 0.2rem;
    position: relative;
    overflow-wrap: break-word;
    background: var(--background-basic-color-1);
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.miniature-slide-card:hover {
    background-color: var(--background-basic-color-4);
}

.miniature-slide-card:active {
    background-color: var(--background-basic-color-2);
}

.miniature-slide-number {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0.5rem; 
    border-left: 2px solid var(--color-basic-600);
    border-bottom: 2px solid var(--color-basic-600);
    border-radius: 0 0 0 0.2rem;
    background-color: var(--background-basic-color-1);
}

.miniature-new-slide {
    z-index: 1;
    box-shadow: 0 0 0 1rem var(--background-basic-color-3);
    position: sticky;
    left: 0rem;
    flex-shrink: 0;
    flex-direction: column;
    width: 7rem;
    height: 6rem;
    background-color: var(--background-basic-color-3);
}

.miniature-new-slide:active {
    background-color: var(--background-basic-color-2);
}

nb-layout-column {
    padding: 0 !important;
}

@media screen and (min-width: 500px) {
    #menu-button {
        display: none;
    }

    #theme-button {
        display: initial;
    }

    .title-presentation {
        width: 80%;
    }

    main {
        height: 100%;
    }

    .editor-section {
        flex-direction: row;
    }

    .editor-section-divider {
        width: 8px;
        height: 100%;
        display: initial;
    }

    .editor-section-divider:hover {
        cursor: col-resize;
    }

    .editor-section-divider::after {
        width: 100%;
        height: 30px;
        background-image: linear-gradient(to right, transparent 0 25%, white 25% 35%, transparent 35% 65%, white 65% 75%, transparent 75% 100%);
    }

    .md-editor {
        width: 50%;
        border: none;
        display: initial;
    }
    
    .current-slide {
        --zoom: 0.4;
        height: 100%;
        width: 50%;
        border: none;
        display: initial;
    }

    .zoom-buttons {
        left: unset;
        right: 1.5rem;
    }

    #switch-view-button {
        display: none;
    }

    nb-sidebar {
        display: none;
    }
}

@keyframes switchPanel {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}