.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#theme-button {
    display: none;
}

#user-button {
    display: none;
}

.left-nav {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.title-presentation {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.editor-section {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100% - 10rem);
    max-height: calc(100% - 10rem);
    position: relative;
}

.editor-section-divider {
    height: 8px;
    width: 100%;
    background-color: var(--color-basic-600);
    box-sizing: border-box;
    position: relative;
    display: none;
}

.editor-section-divider:hover {
    cursor: row-resize;
}

.editor-section-divider::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-basic-600);
    background-image: linear-gradient(to top, transparent 0 25%, white 25% 35%, transparent 35% 65%, white 65% 75%, transparent 75% 100%);
}

#switch-view-button {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    border-radius: 50%;
    z-index: 1;
}

.md-editor {
    width: 100%;
    border: none;
    animation: switchPanel 0.15s ease-in-out;
}

.hidde-panel {
    display: none;
}

nb-layout-column {
    padding: 0 !important;
}

@media screen and (min-width: 500px) {
    #menu-button {
        display: none;
    }

    #theme-button {
        display: initial;
    }

    .title-presentation {
        width: 80%;
    }

    main {
        height: 100%;
    }

    .editor-section {
        flex-direction: row;
    }

    .editor-section-divider {
        width: 8px;
        height: 100%;
        display: initial;
    }

    .editor-section-divider:hover {
        cursor: col-resize;
    }

    .editor-section-divider::after {
        width: 100%;
        height: 30px;
        background-image: linear-gradient(to right, transparent 0 25%, white 25% 35%, transparent 35% 65%, white 65% 75%, transparent 75% 100%);
    }

    .md-editor {
        width: 50%;
        border: none;
        display: initial;
    }

    #switch-view-button {
        display: none;
    }

    nb-sidebar {
        display: none;
    }
}

@keyframes switchPanel {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}