<nb-layout>

    <nb-layout-header fixed>
        <div class="nav-container">
            <div class="left-nav">
                <button id="menu-button" nbButton ghost (click)="toggleSidebar()">
                    <nb-icon icon="menu-outline"></nb-icon>
                </button>
                <h3 contenteditable>MDSlides</h3>
                <button nbButton shape="round">
                    <nb-icon icon="edit-outline"></nb-icon>
                </button>
            </div>
            <div class="right-nav">
                <button id="theme-button" nbButton shape="round" size="large" ghost (click)="changeTheme()">
                    <nb-icon [icon]="themeButtonIcon"></nb-icon>
                </button>
            </div>
        </div>
    </nb-layout-header>

    <nb-sidebar state="collapsed" fixed>
        <div class="sidebar-container">
            <button nbButton shape="round" size="large" ghost (click)="changeTheme()">
                <nb-icon [icon]="themeButtonIcon"></nb-icon>
            </button>
        </div>
    </nb-sidebar>

    <nb-layout-column>

    </nb-layout-column>

</nb-layout>