<nb-layout>

    <nb-layout-header fixed>
        <div class="nav-container">
            <div class="left-nav">
                <button id="menu-button" nbButton ghost (click)="toggleSidebar()">
                    <nb-icon icon="menu-outline"></nb-icon>
                </button>
                <button nbButton shape="round" ghost (click)="openEditTitleDialog()">
                    <nb-icon icon="edit-outline"></nb-icon>
                </button>
                <h4 class="title-presentation">{{presentation.title}}</h4>
            </div>
            <div class="right-nav">
                <button id="theme-button" nbButton shape="round" size="large" ghost (click)="changeTheme()">
                    <nb-icon [icon]="themeButtonIcon"></nb-icon>
                </button>
            </div>
        </div>
    </nb-layout-header>

    <nb-sidebar state="collapsed" fixed>
        <div class="sidebar-container">
            <button nbButton shape="round" size="large" ghost (click)="changeTheme()">
                <nb-icon [icon]="themeButtonIcon"></nb-icon>
            </button>
        </div>
    </nb-sidebar>

    <nb-layout-column>
        <main>
            <section class="editor-section">
                <div class="md-editor">
                    <app-md-editor></app-md-editor>
                </div>
                <div class="current-slide"></div>
            </section>
            <section class="miniatures-section"></section>
        </main>
    </nb-layout-column>

</nb-layout>