<div class="view-container" >
    <div #slidesTrack class="slides-track">
        <div *ngFor="let slide of presentation?.slides" class="slide"></div>
    </div>
    <button [ngClass]="{'hidde-action-buttons': hiddeActionButtons}" class="next" (click)="next()">
        <nb-icon style="color: var(--color-primary-400); width: 50px; height: 50px;" icon="arrow-forward"></nb-icon>
    </button>
    <button [ngClass]="{'hidde-action-buttons': hiddeActionButtons}" class="previous" (click)="previous()">
        <nb-icon style="color: var(--color-primary-400); width: 50px; height: 50px;" icon="arrow-back"></nb-icon>
    </button>
</div>