<nb-card>
    <nb-card-header>
        <h6>
            Nueva diapositiva
        </h6>
    </nb-card-header>
    <nb-card-body>
        <form>
            <label for="name">Nombre:</label>
            <input [formControl]="nameControl" id="name" nbInput type="text" [status]="nameControlStatus" autocomplete="off" (keyup.enter)="save()">
            <small *ngIf="!nameControl.pristine && nameControl.invalid" style="color: var(--color-danger-500)">El nombre es requerido</small>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="dialog-footer">
            <button nbButton status="danger" (click)="closeDialog()">Cancelar</button>
            <button nbButton status="success" (click)="save()">Guardar</button>
        </div>
    </nb-card-footer>
</nb-card>