:host {
    --zoom: 0.3;
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    overflow: hidden;
    animation: switchPanel 0.15s ease-in-out;
}

.current-slide-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll auto;
    background-color: var(--background-basic-color-1);
}

.zoom-buttons {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    display: flex;
    gap: 0.5rem
}

.top-options-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 0.7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: space-between;
    width: 100%;
    background-color: var(--background-basic-color-1);
}

.slide-name-container {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.slide-name-control {
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 500px) {
    :host {
        --zoom: 0.4;
        height: 100%;
        width: 50%;
        border: none;
        display: initial;
    }

    .zoom-buttons {
        left: unset;
        right: 1.5rem;
    }
}