<nb-layout>

    <nb-layout-header fixed>
        <div class="nav-container">
            <div class="left-nav">
                <button id="menu-button" nbButton ghost (click)="toggleSidebar()">
                    <nb-icon icon="menu-outline"></nb-icon>
                </button>
                <button nbButton shape="round" ghost (click)="openEditTitleDialog()">
                    <nb-icon icon="edit-outline"></nb-icon>
                </button>
                <h4 class="title-presentation">{{presentation?.title}}</h4>
            </div>
            <div class="right-nav">
                <button id="theme-button" nbButton shape="round" size="large" ghost (click)="changeTheme()">
                    <nb-icon [icon]="themeButtonIcon"></nb-icon>
                </button>
                <button id="new-presentation-button" nbButton (click)="createNewPresentation()">
                    <nb-icon icon="file"></nb-icon>
                </button>
                <button id="open-presentation-button" nbButton status="warning" (click)="openPresentationFile()">
                    <nb-icon icon="folder"></nb-icon>
                </button>
                <button id="save-presentation" nbButton status="info" (click)="downLoadPresentation()" [disabled]="downloadingFile">
                    <nb-icon [ngClass]="{'loading': downloadingFile}" [icon]="downloadingFile ? 'loader-outline' : 'download'"></nb-icon>
                </button>
                <button id="show-presentation-button" nbButton status="success" (click)="showPresentation()">Presentar
                    <nb-icon icon="expand"></nb-icon>
                </button>
            </div>
        </div>
    </nb-layout-header>

    <nb-sidebar state="collapsed" fixed>
        <div class="sidebar-container">
            <button nbButton status="success" fullWidth (click)="showPresentation()">Presentar
                <nb-icon icon="expand"></nb-icon>
            </button>
            <button nbButton status="info" fullWidth (click)="downLoadPresentation()" [disabled]="downloadingFile">
                Guardar 
                <nb-icon [ngClass]="{'loading': downloadingFile}" [icon]="downloadingFile ? 'loader' : 'download'"></nb-icon>
            </button>
            <button nbButton status="warning" fullWidth>
                Abrir
                <nb-icon icon="folder"></nb-icon>
            </button>
            <button nbButton fullWidth (click)="createNewPresentation()">
                Nueva
                <nb-icon icon="file"></nb-icon>
            </button>
            <button nbButton shape="round" size="large" ghost (click)="changeTheme()">
                <nb-icon [icon]="themeButtonIcon"></nb-icon>
            </button>
        </div>
    </nb-sidebar>

    <nb-layout-column>
        <main>
            <section class="editor-section">
                <div #mdEditor class="md-editor hidde-panel">
                    <app-md-editor></app-md-editor>
                </div>

                <div #divider class="editor-section-divider"></div>

                <app-current-slide #currentSlide></app-current-slide>

                <button nbButton status="info" id="switch-view-button" (click)="switchView()">
                    <nb-icon icon="swap"></nb-icon>
                </button>
            </section>
            <app-miniatures></app-miniatures>
        </main>
    </nb-layout-column>

</nb-layout>